:root {
    --primary-color: #AC3B61;
    --secondary-color: #123C69;
    --background-color: #EEE2DC;
    --input-background-color: #f3e5dd;
    --step-complete-color: #67d867;
    --step-pending-color: #FF6347;
    --text-color: #333;
    --font-family: 'Font', sans-serif;
    --font-family-2: 'Font2', sans-serif;
    --primary-color2:#AC3B61;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 20px;
}

header {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    text-align: center;
}

h1 {
    margin: 0;
    color: var(--primary-color);
}

.theme-toggle {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    margin-top: 10px;
}

.theme-toggle:hover {
    background-color: #0c2a4d;
}

main {
    margin-bottom: 20px;
}

.task-input-container {
    background-color: var(--input-background-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
}

.task-input {
    margin-bottom: 10px;
    color: var(--text-color);
}

.task-input label {
    display: block;
    margin-bottom: 15px;
    font-size: 25px;
    color: var(--primary-color2);
    font-family: var(--font-family-2);
}

#steps {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #ddd;
    margin-bottom: 10px;
    color: #808080;
    font-size: 16px;
    box-sizing: border-box;
    font-family: var(--font-family-2);
}

#steps::placeholder {
    color: #808080;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    font-family: var(--font-family);
}

button:hover {
    background-color: #0c2a4d;
}

.task-progress {
    margin-top: 20px;
}

#progress-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.step {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--step-pending-color);
    cursor: pointer;
    color: #fff;
    font-family: var(--font-family-2);
}

.progress-bar-container {
    width: 24%;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 4px solid #ddd;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #67d867;
    transition: width 0.5s ease-in-out;
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

@font-face {
    font-family: 'Font';
    src: url('Font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Font2';
    src: url('Font2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body.dark-mode {
    --background-color: #333;
    --input-background-color: #444;
    --text-color: #EEE;
    --primary-color: #FF6347;
    --secondary-color: #AC3B61;
    --step-complete-color: #67d867;
    --step-pending-color: #FF6347;
    --primary-color2:#ffffff;
}

body.dark-mode button:hover {
    background-color: #651f36;
}

button:active, .step:active {
    transform: translateY(1px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 
    0.3);
}

